{% extends 'YumchaWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section id="bubbles">
        <article>
            <h2>01</h2>
            <h3>Base</h3>
            <h4>Te verd</h4>
            <h4>Te negre</h4>
            <h4>Cafè</h4>
            <h4>Matcha</h4>
        </article>
        <article>
            <h2>02</h2>
            <h3>Sabor</h3>
            <h4>Sense Llet</h4>
            <h4>Amb Llet</h4>
        </article>
        <article>
            <h2>03</h2>
            <h3>Bubbles</h3>
            <h4>Tapioca</h4>
            <br>
            <h4>Gelatines</h4>
            <p>Maduixa</p>
            <p>Poma verda</p>
            <br>
            <h4>Poppings</h4>
            <p>Litxi</p>
            <p>Mango</p>
            <br>
            <h4>Altres</h4>
            <p>Aloe Vera</p>
        </article>
        <article>
            <h2>04</h2>
            <h3>Sucre</h3>
            <p>Sense sucre</p>
            <p>Dolç</p>
            <p>Molt Dolç</p>
            <p>Sacarina</p>
        </article>
        <article>
            <h2>05</h2>
            <h3>Llet</h3>
            <h4>Amb Llet</h4>
            <p>Soja</p>
            <p>Desnatada</p>
            <p>Sense llet</p>
        </article>
    </section>
    <aside id="bubbles_sidebar">

    </aside>
{% endblock %}