<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Bubble Tea en Barcelona. También puedes tomarte con nosotros un helado, un pastel, un café o chocolate">
    <meta name="keywords" content="Bubble Tea, Barcelona, helados, batidos, pasteles, chocolate">
    <meta name="robots" content="index,follow">
    <meta name="revisit-after" content="7 days">
    <link rel="canonical" href="http://www.yumcha.es/">
    <style type="text/css">
        * {
            border: 0 none;
            border-spacing: 0;
            font-family: 'Helvetica Neue', Arial, sans-serif;
            font-size: 11px;
            line-height: 12px;
            margin: 0;
            padding: 0;
        }
        html {
            overflow-y: scroll;
        }
        body {
            background-color: #FFFFFF;
        }

        #container {
            height: 450px;
            left: 50%;
            margin-left: -164px;
            margin-top: -225px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 328px;
        }
        #yumcha {
            height: 450px;
            width: 328px;
        }

        p.followus {
            margin: 100px 0 20px;
            color: #D91960;
            font-weight: bold;
            font-size: 18px;
        }

        #yumcha a {
            text-decoration: none;
            padding: 0 5px;
            color: #3D2111;
        }

        #yumcha a:hover {
            text-decoration: underline;
        }
    </style>
    <title>Bubble Tea en Barcelona - Yumcha.es - Bubbles, tea & CO</title>
</head>
<body>
<div id="container">
    <div id="yumcha">
        <img src="img/yumcha.jpg" alt="Bubble Tea Barcelona">
        <p class="followus">coming soon</p>
        <a title="Bubble Tea Barcelona en Facebook" href="http://www.facebook.com/pages/Yumcha/211061718986660" target="_blank">Búscanos en Facebook</a> · <a title="Bubble Tea Barcelona en Twitter" href="http://twitter.com/yumcha_es" target="_blank">Síguenos en Twitter</a>
    </div>
</div>
</body>
</html>