header, section, footer, aside {
    font-family: Century Gothic, Futura, sans-serif;
}

#container {
    margin: 0 auto;
    width: 990px;
}

header {
    margin: 20px 0;
}

footer {
    height: 40px;
    margin-top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgb(239,0,79);
    color: #ffffff;
}

footer .content {
    width: 990px;
    margin: 8px auto 0;
    font-size: 12px;
}

#social {
    float: left;
}

#contact {
    float: right;
    text-align: right;
}

section {
    width: 990px;
    padding-bottom: 40px;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
}

ul.sections li {
    float: left;
    text-transform: uppercase;
    text-align: center;
}

ul.sections li p {
    margin: 0px;
}

#logo {
    float: right;
}

#shop {
    width: 730px;
    float:left;
}

#shop_left {
    float: left;
}

#shop_right {
    float: left;
    width: 200px;
    margin-left: 20px;
}

#shop_sidebar {
    width: 260px;
    float:right;
}

#shop_text {
    clear: both;
    padding: 20px 0;
}

#shop_sidebar h3 {
    text-transform: uppercase;
    color: rgb(149,216,48);
    font-weight: normal;
    font-size: 30px;
    margin: 0px;
}

#chinese_yumcha {
    font-size: 96px;
    margin: 0px;
    text-align: center;
}